* {
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-family: Arial;
}

.player-text {
  font-size: 20px;
  font-family: "Arial";
  margin-bottom: 20px;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 25vw;
  height: 50vh;
  font-size: 80px;
  font-family: sans-serif;
}

.box {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.box.filled {
  pointer-events: none;
}

.highlight {
  background-color: yellow;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
}
